@import '~@/assets/css/mixin';
@mixin arrow() {
  &:after {
    content: " ";
    display: inline-block;
    height: 16px;
    width: 16px;
    border-color: #C8C8CD;
    border-style: solid;
    // transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: relative;
  }
}
.pro_filter_items {
  .item {
    position: relative;
    font-size: 28px;
    line-height: 22px;
    color: #666;
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      background-color: #e5e5e5;
      width: 2px;
      right: 0;
      top: 4px;
      bottom: 4px;
    }
    &:last-child:after {
      display: none;
    }
    &__arrow {
      margin-left: 28px;
      margin-top: -5px;
      display: inline-block;
      vertical-align: middle;
      &-wrapper {
        display: flex;
        flex-direction: column;
      }
      .before, .after {
        display: block;
        transform-origin: center;
        @include arrow();
      }
      .before {
        top: 0;
        // transform: rotate(-60deg)
        &:after {

          border-width: 3px 3px 0 0;
          transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
        }
      }
      .after {
        &:after {

          border-width: 0 0 3px 3px;
          transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
        }
        // transform: rotate(60deg);
      }
    }
    &.active {
      color: #EE7527;
    }
    &--top.active .item__arrow .before:after {
      border-color: #ee7527;
    }
    &--bottom.active .item__arrow .after:after {
      border-color: #ee7527;
    }
    &.menu {
      flex: 0.5;
      i {
        $size: 27px;
        display: inline-block;
        width: $size;
        height: $size;
        background: url('~@/assets/img/classify/menu.png') no-repeat center;
        background-size: $size;
      }
    }
  }
  .btn_sf {
    .after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-top: -4px;
      margin-left: 28px;
      width: 26px;
      height: 26px;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaBAMAAABbZFH9AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAVUExURUdwTMzMzM7OzszMzNDQ0MfHx8zMzDEar9oAAAAGdFJOUwDTFcQWF87ZqzkAAABeSURBVBjTYzBLQ4BkBlSeYmIAAwSwigkxMImJQnmBiQoMcEmQFANQUgQhBZJ0AJIsYCmYpCNECiIJkwJJGjAww6QYGNQSGNiSYBwGtgQQoi6P2QCZB5GmMQ9oJRAAANAtGtSzNppcAAAAAElFTkSuQmCC) no-repeat;
      background-size: 26px auto;
    }
  }
}