html {
  height: 100%
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F5F5;
  /* color: #333; */
  color: #424242;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 30px;
  /* height: 100%; */
}



/* td, th, caption {
    font-size: 14px;
} */

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

a {
  color: #757575;
  text-decoration: none;
}

a:hover, a:visited, a:focus {
  text-decoration: none;
}

img {
  border: none;
  width: 100%;
  height: 100%;
}

ol, ul, li {
  list-style: none;
}

input, textarea, select, button {
  font: 30px Verdana, Helvetica, Arial, sans-serif;
}

table {
  border-collapse: collapse;
}

html {
  overflow-y: scroll;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  /* *zoom: 1; */
}

.f-left {
  float: left
}
.f-right {
  float: right
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.bottom {
  height: 100px;
  position: relative;
  bottom: 0;
}

.formal-btn {
  color: #004098;
  background-color: #c1cdde;
}
.home {
  -webkit-tap-highlight-color:rgba(255,255,255,0)
}


  